#fundo {
    background-image: url(../images/fundo.gif);
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 200px;
}

#porta {
    width: 100px;
}

#ipv4, #porta {
    text-align: center;
    padding: 10px;
    font-size: 17px;
    font-family: 'Verdana', sans-serif;
    border: solid 1px gainsboro;
}

#label {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    font-family: Courier New, Courier, monospace, sans-serif;
}

#start, #stop {
    color: #ffffff;
}

button[disabled] {
    opacity: .3 !important;
}

.noty_theme__mint.noty_bar .noty_body {
    font-size: 15px !important;
    text-align: center !important;
    font-family: Calibri !important;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
    background-color: #0e0e0e !important;
    opacity: 0.2 !important;
    height: 100% !important;
}

#nota p {
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    color: #ffe300;
    margin-top: 0px !important;
    font-family: 'Opens Sans', cursive;
}

#nota span {
    font-size: 50px;
    color: white;
    font-family: 'Alfa Slab One', cursive;
}

#nota {
    border: solid 3px rgb(158, 158, 158);
    width: 50%;
    margin-left: 25%;
    padding-bottom: 13px;
}

#porcentagemAcerto {
    margin: 10px;
    width: auto;
    height: auto;
}

    #porcentagemAcerto svg {
        height: 100px !important;
    }

#notaNome {
    font-size: 18px !important;
    font-weight: normal !important;
    color: rgb(224, 224, 224) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}


.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #ff0000 !important;
}

.chartist-yellow .ct-grid {
    stroke: #ffe300 !important;
}

#titulo {
    font-family: "Open Sans:300";
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 17px !important;
    color: white;
}

.progressbar-text {
    top: 22px !important;
}

.resultado {
    width: 20px;
    height: 20px;
    font-size: 15px;
    vertical-align: middle;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

#obtido {
    margin-left: 95px;
    background: rgba(255,235,59,.7);
}

#esperado {
    background-color: red;
    margin-left: 20px;
}

.resultado p{
    margin-left:30px;
}
